.about {
  margin-bottom: 20px;
  padding: 20px;
  color: #000;
  text-align: center;
  font-size: 18px;
  line-height: 24px;

  h2{
    margin: 39px 0 33px;
    color: #010101;
    font-size: 36px;
    line-height: 48px;
    @include futura-bold;
    text-align: center;

    span{
      display: block;
    }

  }

  img{
    display: block;
    width: 100%;
    margin-bottom: 49px;
  }

  dl{
    margin-bottom: 34px;

    dt{
      margin-bottom: 25px;
      font-size: 24px;
      line-height: .7;
      @include futura-bold;
    }

    dd{

      p{
        margin-bottom: 24px;
      }

    }

  }

  ul{
    margin-bottom: 25px;
    padding-top: 10px;

    li{
      margin-bottom: 25px;
    }

  }

}
@media (min-width: $phone-landscape) {
  .about {

  }
}
@media (min-width: $tablet-portrait) {
  .about {

  }
}
@media (min-width: $tablet-landscape) {
  .about {
    max-width: 1011px;
    margin: 0 auto 27px;
    padding: 63px 0 16px;

    &__content{
      max-width: 836px;
      margin: 0 auto;
    }

    dl{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      text-align: left;

      dt{
        width: 48.4%;
        padding-left: 13px;
      }

      dd{
        width: 51.6%;
        padding-right: 12px;
      }

    }

    ul{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding-left: 13px;

      li{
        width: 26%;
        margin-right: 11%;
        margin-bottom: 0;
        text-align: left;

        &:nth-child( 3n ){
          margin-right: 0;
        }

      }

    }

  }
}
@media (min-width: $desktop) {
  .about {

  }
}

